attached_assets/parent_profile_1760591388947.json
{
  "name": "parent profile",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "parentprofile",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "364fcdeb-ab93-43f4-95aa-8836a495fea5",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -540,
        60
      ],
      "webhookId": "a841c84c-b33d-4a19-bcb5-4c0ca30808ad"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "survey_responses",
          "mode": "list",
          "cachedResultName": "survey_responses"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.body.user_id }}",
            "relation_to_patient": "={{ $json.body.relationToPatient }}",
            "trying_duration": "={{ $json.body.questions.durationTrying }}",
            "is_under_doctor_care": "={{ $json.body.questions.isUnderTreatment }}",
            "has_health_problems": "={{ $json.body.questions.hasHealthProblems }}",
            "patient_feeling": "={{ $json.body.questions.emotionalState }}",
            "past_ivf_treatment": "={{ $json.body.questions.pastIVFTreatments }}"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submission_timestamp",
              "displayName": "submission_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "relation_to_patient",
              "displayName": "relation_to_patient",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "trying_duration",
              "displayName": "trying_duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "is_under_doctor_care",
              "displayName": "is_under_doctor_care",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "has_health_problems",
              "displayName": "has_health_problems",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "patient_feeling",
              "displayName": "patient_feeling",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "past_ivf_treatment",
              "displayName": "past_ivf_treatment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        60
      ],
      "id": "2f311cfb-c72a-43f2-851c-081604b15014",
      "name": "Insert User Profile",
      "credentials": {
        "postgres": {
          "id": "sg7vsKVj9sQe1MXx",
          "name": "Janmasethu"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    message: 'Profile created successfully',\n    user_id: $json.user_id\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        60
      ],
      "id": "75163fd0-ac57-4fb9-a3b8-5b9bb75d30be",
      "name": "Profile Success Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        60,
        60
      ],
      "id": "2f6721c8-0d59-43d5-b137-feeb98bdf517",
      "name": "Respond Profile Creation"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Insert User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert User Profile": {
      "main": [
        [
          {
            "node": "Profile Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Success Response": {
      "main": [
        [
          {
            "node": "Respond Profile Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "38631c03-f0de-4389-b48b-1c40e11917bb",
  "meta": {
    "instanceId": "59e10422e2cab43eea53cd528e77f00b03bfbaffc066053f53d54d30c906caa0"
  },
  "id": "lnhHfIjFIMYZgqJ6",
  "tags": []
}